.doughnutChart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;

    .title {
        color: #444;
    }

    .chart {
        position: relative;
        width: 200px;
        height: 200px;

        .middleText {
            position: absolute;
            width: 100%;
            top: 60%;
            left: 0;
            text-align: center;
            margin-top: -28px;
            line-height: 20px;
            font-size: 30px;
        }
    }
}
